<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
{{>navbar}}
 <div class="container fluid main_header">
  <div class="row">
     <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                  <img src="images/me.png" alt="image not found" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
             <p>Welcome to weather app</p>
             <span style="font-size: 3rem;">I Am a <span class="text_clr"> passionate coder & developer </span>who desires to learn and explore new skills and has interest in 
 </span><span class="text_clr" style="font-size: 3rem;">solving various algorithmic problems.</span></span>
             
            </div>
        </div>  
     </div>
  </div>
</div> 
{{!-- <div class="container fluid main_header">


</div> --}}
{{!-- <div class="container text-center">
  <div class="row" style="height: 25vh;position:relative;">
    <div class="col">
      <figure>
                  <img src="images/me.png" alt="image not found" class="img-fluid">
              </figure>
    </div>
    <div class="col">
      <p>Welcome to Weather app</p>
             <h1>I Am a <span class="text_clr"> Mern Stack Developer </span> And A Competitive Programmer.</h1>
             
    </div>
  </div>
  
</div> --}}
{{>footer}} 
</body>
</html>